html{
   margin: 0;  
       font-family: 'Pacifico', cursive; 
background-color:rgb(66, 66, 190);
    }
   h1  {
       text-align: center;
     color:rgb(15, 37, 12) ;  
    }
    div {
border-style:dotted;
background-color:aqua
    }
.square{       
    background-color: rgb(174, 255, 127);
    font-size: 60px;    
    display: inline-block;
color: rgb(233, 47, 134);
border-radius: 45%;
border-width: 5px;
border-color:aquamarine
}
#holder1 {
position: fixed;
}
#holder2 {
position: fixed;
}
#holder3 {
position: fixed;
}
