html{
   margin: 0;   
}
.square{
   }       
#holder2 {
    border-style:double;
    block-size: auto;
    padding: auto;
    background-color: aquamarine;
    font-size: 60px;

    
display: block;
position: ;

}
