html{
   margin: 0;   
}
.square{       
    background-color: rgb(174, 255, 127);
    font-size: 350px;    
    display: inline-block;
color: rgb(233, 47, 134);
border-radius: 45%;
border-width: 20px;
border-color:aquamarine
}
#holder1 {
position: relative;
top: 200px;
}

