html{
    margin: 0;  
    font-family: 'Pacifico', cursive; 
    background-color:rgb(66, 66, 190);
display: block;    
} 
h1  {
       text-align: center;
     color:rgb(15, 37, 12) ;  
    } 
 #hold {
border-style:dotted;
display: flex;
flex-direction: row;
justify-content:center;
position: fixed;
top: 300px;
align-content: center;
margin-left: 50vw;
margin-right: auto;




    }       
.square{       
    background-color: rgb(174, 255, 127);
    font-size: 60px;    
    display: inline-block;
color: rgb(233, 47, 134);
border-radius: 45%;
border-width: 5px;
border-color:aquamarine;
margin:auto 25px; 
}
#holder1 {
}
#holder2 {
}
#holder3 {
}
