html{
    margin: 0;  
    font-family: 'Pacifico', cursive; 
    background-color:rgb(65, 65, 236);
display: block;    
} 

h1  {
       text-align: center;
     color:rgb(184, 211, 30) ;  
    font-size: 40px;
}
#div1{
     display: flex;
     justify-content: space-evenly;
     font-size: 30px;
     color:rgb(248, 3, 236);   
    position : fixed;
    top: 18%;
    }
.score {
        margin: auto 20px ;
    }
    #wins {
       position: fixed;
        left: 25%;

    } 
    #losses {
       position: fixed;
        left: 45%;

    }   
    #ties {
       position: fixed;
        left: 65%;

    }   

#div2 {
     display: flex;
     justify-content: space-evenly;
     font-size: 30px;
     color:rgb(248, 3, 236);   
    position : fixed;
    top: 25%;
    left: 5%;
}      
 #div3 {
display: flex;
flex-direction: row;
justify-content:center;
position: fixed;
top: 40%;
align-content: center;
left: 50%;
right: 50%;
padding:0;
  }       
.square{       
    background-color: rgb(174, 255, 127);
    font-size: 60px;    
    display: inline-block;
color: rgb(233, 47, 134);
border-radius: 40%;
border-width: 5px;
border-color:rgb(46, 155, 118);
margin:auto 40px; 
}
#div4 {
     display: flex;
     flex-direction: row;
     justify-content: center;
     font-size: 25px;
     color:rgb(248, 3, 236);   
    position : fixed;
    top: 60%;
    padding: auto;
   
}      
#you {
   position: fixed;
        left: 20%;
  
}
#computer {
     position: fixed;
        right: 20%;

}
#div5 {
     display: flex;
     flex-direction: row;
     justify-content: center;
     font-size: 25px;
     color:rgb(248, 3, 236);   
    position : fixed;
    top: 73%;
    left: 25%;
    right: 25%;
    padding: auto;
    border-style:dotted;

}
.round {
    margin: auto 60px;
    display: flex;
    flex-direction: row;
    border-style:dotted;
    flex-wrap: nowrap;
}