html{
   margin: 0;   
}
.square{       
    background-color: rgb(174, 255, 127);
    font-size: 50px;    
    display: inline-block;
color: rgb(233, 47, 134);
border-radius: 45%;
border-width: 5px;
border-color:aquamarine
}
#holder1 {
position: relative;
top: 35px;
left :30vw;  
}
#holder2 {
position: relative;
top: 35vh;
left :33.5vw;  
}
#holder3 {
position: relative;
top: 35vh;
left :37vw;  
}
