html{
    background-color: rgba(0, 0, 0, 0.89);
font-size: 20px;
}
.square{
    border-color: bisque;
    border-style: double;
    display: inline-block;
    position: fixed;
    top : 10px;
     
}