html{
   margin: 0;   
}
.square{       
    border-style:double;
    block-size: auto;
    padding: auto;
    background-color: rgb(127, 255, 159);
    font-size: 350px;

    
display: inline-block;

}
