html{
    margin: 0;  
    font-family: 'Pacifico', cursive; 
    background-color:rgb(65, 65, 236);
display: block;    
} 
h1  {
       text-align: center;
     color:rgb(15, 37, 12) ;  
    } 
 #hold {
border-style:dotted;
display: flex;
flex-direction: row;
justify-content:center;
position: fixed;
top: 45%;
align-content: center;
left: 50%;
right: 50%;
padding:0;



    }       
.square{       
    background-color: rgb(174, 255, 127);
    font-size: 60px;    
    display: inline-block;
color: rgb(233, 47, 134);
border-radius: 40%;
border-width: 5px;
border-color:rgb(46, 155, 118);
margin:auto 25px; 
}
